<form class="ui form segment">

  <div class="two fields">
    <div class="field">
      <label>
        Search Keyword
      </label>
      <input type="text" v-model="keyword"
             v-on:keyup.enter="searchShoppingWebsite" />
    </div>
    <div class="field">
      <label>
        Price Range
      </label>
      <div class="inline fields">
        <div class="field">
          <input type="number" v-model="priceMin"
               step="10"
               v-on:keyup.enter="searchShoppingWebsite" />
        </div>
        <div class="field">
          -
        </div>
      </div>
    </div>
  </div>
  
  <div class="field">
    <label>
      Websites
      <a href="https://docs.google.com/document/d/1SjXOkvfveMMkp_ILwLUFdLTnbQiGRcMV4HkBjB3Qlj4/edit"
         target="memo">
        (shopping memo)
      </a>
    </label>
    
    <div class="inline fields">
      <div class="field" v-on:click="selectAllWebsites">
        <button type="button"
                class="ui button"
                v-bind:class="{disabled: disabelSelectAllWebsites}">
          Select All
        </button>
      </div>
      <div class="field" v-on:click="selectBidWebsites">
        <button type="button"
                class="ui button"
                v-bind:class="{disabled: disabelSelectBidWebsites}">
          Select Bid
        </button>
      </div>
      <div class="field" v-on:click="deselectAllWebsites">
        <button type="button"
                class="ui button"
                v-bind:class="{disabled: disabelDeselectAllWebsites}">
          Deselect All
        </button>
      </div>
      
      <div class="field" v-for="website in websitesList">
        <div class="ui checkbox">
          <input type="checkbox"
                 v-bind:id="website"
                 v-bind:value="website"
                 v-model="websites">
          <label v-bind:for="website">{{ website }}</label>
        </div>
      </div>
    </div>
  </div>
  
  <div class="field">
    <button type="button"
            class="ui fluid button"
            v-on:click="searchShoppingWebsite">
      SEARCH
    </button>
  </div>
  
  <div class="field">
    <div class="ui action input">
      <input type="text" v-bind:value="computedFilename"
             onfocus="this.select()" />
      <button type="button"
        class="ui icon button"
        v-on:click="copyFilename">
        <i class="copy icon"></i>
      </button>
    </div>
  </div>
  
  <div class="field">
    <div class="ui action input">
      <input type="text" v-bind:value="tableContent"
             onfocus="this.select()" />
      <button type="button"
        class="ui icon button"
        v-on:click="copyTable">
        <i class="copy icon"></i>
      </button>
    </div>
  </div>
  
  <div class="field">
    <a class="ui fluid button"
       href="https://drive.google.com/drive/u/0/"
       target="_blank">
      Open Google Drive
    </a>
  </div>
  
</form>